/*
	Extra stylesheet for the admin panel
	@author Vitor Rigoni vitor@lemonjuicewebapps.com
 */

.header .logo {
	padding: 20px 0;
	margin-bottom: 10px;
}
.menu li a {
		color: #8BA022;
}

.search-input {
	border-bottom: 1px solid #b3b3b3 !important;
}
.search-input:focus {
	border-bottom: 3px solid #8BA022 !important;
}
.search-buttom {
	border: none !important;
	background: #8BA022 !important;
	color: #fff;
	text-shadow: none !important;
	font-weight: 100 !important;
}
.search-buttom:hover {
	color: #fff !important;
	background: #A2BA28 !important;
}

.input-email-switcher {
	margin-top: 5px;
}

.input-email-switcher input {
	height: 36px;
}

.input-email-switcher .btn-danger {
	height: 22px;
}

#emails-ajax-loader {
	display: none;
	margin: 0 auto;
}

#form-search {
	margin-top: -55px;
}

#form-search input {
	height: 36px;
}

.btn-xml {
	background: #7B52AB;
}

.btn-xml:hover,
.btn-xml:active {
	background: #6C4896;
}

.btn-csv {
	background: #2B9684;
}

.btn-csv:hover,
.btn-csv:active {
	background: #237A6C;
}
.credits {
	color: #8BA022;
}

.control-group {
	display: inline-block;
}

#stylePreview {
	margin-left: 10px;
    margin-top: -11px;
}


























































































































































































































































































































































































































































































































































































































































































